{
    "plugins": [
      [
        "module-resolver",
        {
          "root": ["./"],
          "alias": {
            "_assets": ["./assets"],
            "_components": ["./src/components"],
            "_atoms": ["./src/components/atoms"],
            "_molecules": ["./src/components/molecules"],
            "_organisms": ["./src/components/organisms"],
            "_navigations": ["./src/navigations"],
            "_scenes": ["./src/scenes"],
            "_services": ["./src/services"],
            "_styles": ["./src/styles"],
            "_utils": ["./src/utils"],
            "_store": ["./src/store"],
            "_hooks": ["./src/hooks"],
            "_api": ["./src/api"]
          }
        }
      ]
    ]
  }
  