#native
native/node_modules/**/*
native/.expo/*
native/npm-debug.*
native/*.jks
native/*.p8
native/*.p12
native/*.key
native/*.mobileprovision
native/*.orig.*
native/web-build/
native/.env

#provider
provider/.env
provider/node_modules/**/*
provider/.serverless*

#proxy
proxy/.env
proxy/node_modules/**/*
proxy/dev.env
proxy/prod.env

#website
website/node_modules/**/*

# macOS
.DS_Store
